<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='../index.js'></script>
    <title>Document</title>
</head>
<body>
    <h1>¡Esta es la página principal!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae eveniet ipsam dolores totam quos fuga dolor quibusdam consectetur animi ab! Fugit numquam reprehenderit illo, non voluptas accusamus. Assumenda, perspiciatis saepe.
            <br>
            <br>
            <br>
        Nunca instalen League Of Legends
    </p>
</body>
</html>